n8n/Daily Failed Payments Report.json
{
  "name": "Daily Failed Payments Report",
  "nodes": [
    {
      "parameters": {},
      "id": "5a970d5a-1e32-4c8e-8f6e-39199d962181",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        224
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "e3a8da8f-af9c-4fad-8910-8abcadf1313d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1472,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01",
              "name": "restcall_url",
              "value": "https://yourdomain.com/yourendpoint",
              "type": "string"
            },
            {
              "id": "02",
              "name": "date_from",
              "value": "={{ $now.minus({days:1}).toFormat('yyyyMMdd') }}",
              "type": "string"
            },
            {
              "id": "03",
              "name": "date_to",
              "value": "={{ $now.toFormat('yyyyMMdd') }}",
              "type": "string"
            },
            {
              "id": "04",
              "name": "script_base_dir",
              "value": "/path/to/your/n8n/Report_CJREQUEST",
              "type": "string"
            },
            {
              "id": "09",
              "name": "db_type",
              "value": "mss",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "27269874-3397-4f3e-8d53-65faf9382f05",
      "name": "Set Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.db_type }}",
              "value2": "oracle"
            }
          ]
        }
      },
      "id": "cd0c5a4f-adca-4a62-a51d-9aa9cd2ddf10",
      "name": "Route by DB Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "command": "={{ 'cd ' + $('Set Defaults').item.json.script_base_dir + '/oracle && bash run.sh --restcall-url=' + $('Set Defaults').item.json.restcall_url + ' --date-from=' + $('Set Defaults').item.json.date_from + ' --date-to=' + $('Set Defaults').item.json.date_to }}"
      },
      "id": "15efa4d6-8a43-454e-b86a-d761f299144e",
      "name": "Run Oracle Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ 'cd ' + $('Set Defaults').item.json.script_base_dir + '/mss && bash run.sh --restcall-url=' + $('Set Defaults').item.json.restcall_url + ' --date-from=' + $('Set Defaults').item.json.date_from + ' --date-to=' + $('Set Defaults').item.json.date_to }}"
      },
      "id": "72d07fbb-3436-4e7e-93f7-85eb57890e2b",
      "name": "Run MSS Script",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "0dRxfXo3qmx3W3OV",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ 'cat ' + $('Set Defaults').item.json.script_base_dir + '/' + $('Set Defaults').item.json.db_type + '/output.txt' }}"
      },
      "id": "91c7b561-ab7b-4a5b-b8d5-0e12c0bb9dc5",
      "name": "Read Script Output",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        272,
        128
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "0dRxfXo3qmx3W3OV",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the full email body by combining the predefined body with the report output\nconst emailFields = $('Set Email Fields').item.json;\n\n// Get the binary data from the first item\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// Convert the buffer to a string (UTF-8)\nconst fileContent = binaryData.toString('utf8');\n\nreturn [{\n  json: {\n    email_to:      emailFields.email_to,\n    email_from:    emailFields.email_from,\n    email_subject: emailFields.email_subject,\n    email_body:    emailFields.email_body + '\\n\\n<br><br>'    \n  },\n  binary: {\n    email_attachment: await this.helpers.prepareBinaryData(binaryData, 'failed_payments_report.txt')\n  }\n}];"
      },
      "id": "78e7aa2f-8302-4eec-9d60-72b2c857b8eb",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        128
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.email_body }}",
        "options": {
          "attachments": "email_attachment"
        }
      },
      "id": "b355482b-85ff-4eb5-be24-e94f0aee347e",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1552,
        128
      ],
      "webhookId": "a3e7a824-cba9-44ce-b176-16554392ec64",
      "credentials": {
        "smtp": {
          "id": "9YnJy0jihMyo419H",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ 'source /home/ahmed/.bash_aliases; openvpn3 configs-list --verbose | grep -B 3 \"$OVPN_ORG_NAME\" | grep \"/net/openvpn/v3/configuration/\" | xargs -I {} openvpn3 config-remove --force --config-path {} && openvpn3 sessions-list | grep \"Path:\" | awk \"{print \\$2}\" | xargs -I {} openvpn3 session-manage --session-path {} --disconnect && echo $SUDO_PASS | sudo -S systemctl restart systemd-resolved' }}"
      },
      "id": "5ebce6f6-93ac-4dd1-a90f-108ce042eaac",
      "name": "Disconnect OpenVPN",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        480,
        128
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "0dRxfXo3qmx3W3OV",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ 'expressvpnctl disconnect' }}"
      },
      "id": "f734eb4c-850c-4724-914f-82c879227928",
      "name": "Disconnect ExpressVPN",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        688,
        128
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "0dRxfXo3qmx3W3OV",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/output.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        896,
        128
      ],
      "id": "02151546-66dc-4277-8cda-6f8555c63b8a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ 'source /home/ahmed/.bash_aliases; expressvpnctl connect germany-frankfurt-1; echo $SUDO_PASS | sudo -S expressvpnctl set blockAll false; echo $SUDO_PASS | sudo -S expressvpnctl set allowlan true; echo $SUDO_PASS | sudo -S expressvpnctl set networklock false' }}"
      },
      "id": "b69c2df2-324a-45b4-b97a-64fad910c29e",
      "name": "Connect ExpressVPN",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -816,
        128
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "0dRxfXo3qmx3W3OV",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ 'source /home/ahmed/.bash_aliases; openvpn3 configs-list --verbose | grep -B 3 \"$OVPN_ORG_NAME\" | grep \"/net/openvpn/v3/configuration/\" | xargs -I {} openvpn3 config-remove --force --config-path {} && openvpn3 sessions-list | grep \"Path:\" | awk \"{print \\$2}\" | xargs -I {} openvpn3 session-manage --session-path {} --disconnect && source ~/.bash_aliases && cd ~/openvpn3 && ./vpn.sh && echo $SUDO_PASS | sudo -S ip link set dev tun1 mtu 1200' }}"
      },
      "id": "ce2d4289-c947-4fde-930a-3b57d178b7a6",
      "name": "Connect OpenVPN",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -640,
        128
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "0dRxfXo3qmx3W3OV",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05",
              "name": "email_to",
              "value": "xx@firm.de,xx@firm.de",
              "type": "string"
            },
            {
              "id": "06",
              "name": "email_from",
              "value": "xx@firm.de",
              "type": "string"
            },
            {
              "id": "07",
              "name": "email_subject",
              "value": "={{ 'Fehlgeschlagene Zahlungen Bericht — ' + $json.date_from.replace(/(\\d{4})(\\d{2})(\\d{2})/, '$1-$2-$3') }}",
              "type": "string"
            },
            {
              "id": "08",
              "name": "email_body",
              "value": "={{ 'Hallo Julian,<br><br>anbei übersende ich dir den Bericht über fehlgeschlagene Zahlungen für den Kunden <b>MEX</b> mit dem Statuscode 500 für den <b>' + DateTime.fromFormat($json.date_from, \"yyyyMMdd\").toFormat(\"yyyy-MM-dd\") + '</b>.<br><br>Dieser Bericht umfasst die Zahlungen im Zeitraum vom <b>' + DateTime.fromFormat($json.date_from, \"yyyyMMdd\").toFormat(\"yyyy-MM-dd\") + '</b> bis zum <b>' + DateTime.fromFormat($json.date_to, \"yyyyMMdd\").toFormat(\"yyyy-MM-dd\") + '</b>.<br><br>Beste Grüße,<br><br>Ahmed Zaky' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b13ef8c4-05cb-4755-80ac-aeb11762110c",
      "name": "Set Email Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        128
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -432,
        128
      ],
      "id": "fac5c1f1-ce64-45fd-8424-8a710bbb78a9",
      "name": "Wait",
      "webhookId": "34c0c13e-b71e-47a9-ad6b-b8ae04f3b1c8"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $binary.data.fileSize }}",
              "operation": "notEqual",
              "value2": "0 B"
            }
          ]
        }
      },
      "id": "0e6ddbc8-7a46-4c2f-9c1c-8194827fd4d6",
      "name": "Send Not Empty Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1104,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Defaults": {
      "main": [
        [
          {
            "node": "Set Email Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by DB Type": {
      "main": [
        [
          {
            "node": "Run Oracle Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run MSS Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Oracle Script": {
      "main": [
        [
          {
            "node": "Read Script Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run MSS Script": {
      "main": [
        [
          {
            "node": "Read Script Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Script Output": {
      "main": [
        [
          {
            "node": "Disconnect OpenVPN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Content": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disconnect OpenVPN": {
      "main": [
        [
          {
            "node": "Disconnect ExpressVPN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disconnect ExpressVPN": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Send Not Empty Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect ExpressVPN": {
      "main": [
        [
          {
            "node": "Connect OpenVPN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect OpenVPN": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Fields": {
      "main": [
        [
          {
            "node": "Connect ExpressVPN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Route by DB Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Not Empty Result": {
      "main": [
        [
          {
            "node": "Build Email Content",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2583d730-d1cd-4fe8-a1ea-d63bbeffdf73",
  "meta": {
    "instanceId": "d2fe67f27ea137b468434e385ce85d0a7f5fa98208267e34ae0ccc7dd25fc482"
  },
  "id": "IRmUmWgsBAvewYE8usxup",
  "tags": []
}